.cards {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
}

.card{
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px 9px;
}

.card img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.card h2{
    font-size: 20px;
    font-weight: bold;
}
.card span{
    font: 18px Arial;
    font-weight: bold;
}

.card p{
    margin: 5px 0;   
}