@import "tailwindcss";
@config "../tailwind.config.js";

/* .n-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(255, 252, 252, 0.36) !important;
  color: orange !important;
  padding: 30px !important;
  font-size: small;
  border-radius: 50% !important;
  z-index: 10 !important;
}

.swiper-button-prev {
  left: -30px !important;
}

.swiper-button-next {
  right: -30px !important;
}

.ant-select-selector {
  display: none !important;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(133, 128, 128, 0.151) !important;
  Hover zamanı daha tünd olur
}

.menuCat:hover .menuSub {
  display: block !important;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  

}
button{
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 5px;
    margin: 9px 4px;
  }
.delete{
  background-color: red;
  color: white;
} */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f4;
}

.App {
  max-width: 500px;
  margin: 80px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  text-align: center;
}

h3 {
  color: #333;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px 15px;
  width: 70%;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

input[type="text"]:focus {
  border-color: #5c6bc0;
}

button {
  padding: 10px 20px;
  background-color: #5c6bc0;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3949ab;
}

h2 {

  margin: 10px auto;
  padding: 12px;
  border-radius: 8px;
  color: #444;
  font-weight: normal;
  max-width:80%;}
  .delete{
    background-color: red;
    color: white;
    height: 40px;
  }
  .delete:hover{
    background-color: rgb(92, 7, 7);  }